body{
  background-color: #CCC;
  font-family: 'Revalia', cursive;
}
.recipeBox{
   width: 80vw;
   margin: 0 auto;
   text-align: center;
 }

 title{
   text-align:  center;
 }

 .recipeList{
   border: 1px solid #f1f1f1;
   padding: 0 12px;
   max-height: 70vh;
   overflow: scroll;
 }

 .recipe{
   margin: 10px;
   padding: 3px 10px;
   font-size: .85rem;
 }

 .recipeForm{
 margin: 10px;
 display: flex;
 flex-flow: row wrap;
 justify-content: space-between;
 }

 .recipeFormDish{
   min-width: 150px;
   margin: 3px;
   padding: 0 10px;
   border-radius: 3px;
   height: 40px;
   flex: 2;
 }

 .recipeFormIngredients{
   flex: 4;
   min-width: 400px;
   margin: 3px;
   padding: 0 10px;
   height: 40px;
   border-radius: 3px;
 }

 .recipeFormDirections{
   flex: 4;
   min-width: 400px;
   margin: 3px;
   padding: 0 10px;
   height: 40px;
   border-radius: 3px;
 }

 .recipeFormPost{
   min-width: 75px;
   flex: 1;
   height: 40px;
   margin: 5px 3px;
   font-size: 1rem;
   background-color: #A3CDFD;
   border-radius: 3px;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: .055rem;
   border: none;
 }

.title{
  text-align: center;
}

.displayRecipe>div{
  display: flex;
  align-content: center;
}

.showIngredients{
  flex: 1;
  float: left;
  text-align: justify;
  flex-direction: column;
  margin-left: 200px;
}

.showDirections{
  flex: 2;
  text-align: justify;
  flex-direction: column;
  padding-left: 100px;
}

.buttons{
  margin-top: 20px;
}
